<section class="about">
  <div class="about__card">
    <h1 class="about__title">Michon Maximilien</h1>

    <div class="about__image">
      <img src="/src/images/my_shity-face.JPG" alt="Image of me" />
      <a href="google.com" class="about__imageOverlay"></a>
    </div>
    <div class="about__description">
      <p>Hey, j'ai 27 ans et je suis développeur Front-End junior basé sur Ath, dans le Hainaut.</p>
      <p>J'adore comprendre les choses, bidouiller et mettre en pratique.</p>
      <p>Au quotidien j'aime les immersions en VR, l'hardware, les jeux-vidéos <span class="about__litle">et une ou deux petites tasses de thé<span></span></p>
      <p>Je suis aussi l'heureux propriétaire d'une Ford Fiesta de 2014 ainsi que de mon permis B.</p>
    </div>
  </div>
</section>
