<section class="footer">
  
  <div class="footer__contact">
    <h1>Informations</h1>
    <ul>
      <li>Michon Maximilien</li>
      <li>Ath, Hainaut | Belgique</li>
      <li><a href="tel:0485/97.65.81">0485/97.65.81</a></li>
      <li><a href="mailto:maximilien01993@gmail.com">maximilien01993@gmail.com</a></li>
      <li><a href="https://www.linkedin.com/in/maximilien-michon/">Linkedin</a></li>
    </ul>
  </div>
  <div class="footer__githubRepos">

  </div>
  <div class="footer__copyright">
    <p>&copy; 2025 All Rights Reserved</p>
  </div>
  <!-- github repos
  Adresse globale (Hainaut, Belgique)
  Lien vers mes réseaux sociaux (linkedin)
  N° de téléphone
  Email -->

</section>