<section class="footer">
  
  <div class="footer__contact">
    <h1>Informations</h1>
    <ul>
      <li>Ath, Hainaut | Belgique</li>
      <li>0485/97.65.81<span class="copyBtn"><img src="./src/images/copy_button.svg"></span></li>
      <li><a href="mailto:maximilien01993@gmail.com">maximilien01993@gmail.com</a><span class="copyBtn"><img src="./src/images/copy_button.svg"></span></li>
      <li><a href="https://www.linkedin.com/in/maximilien-michon/">Linkedin</a><span class="copyBtn"><img src="./src/images/copy_button.svg"></span></li>
    </ul>
  </div>
  <div class="footer__githubRepos">

  </div>
  <div class="footer__title">
    <p>Michon Maximilien
    &copy; 2025 All Rights Reserved</p>
  </div>
  <!-- github repos
  Adresse globale (Hainaut, Belgique)
  Lien vers mes réseaux sociaux (linkedin)
  N° de téléphone
  Email -->

</section>