<div class="projects" id="projets">
  <h1>Projets</h1>
  <!--____cards____-->
  <div class="projects__cards">
    <!--portfolio-->
    <div class="card">
      <!-- div obligatoire pour la box-shadow inset du screen-->
      <div class="card__divScreen">
        <img class="card__screen" src="/src/images/portfolio.png" alt="Portfolio screen" />
      </div>
        <p class="card__description">Ce portfolio est mon premier vrai projet en Front-End.</p>
        <a class="card__link" href="https://github.com/Maddax10/Portfolio" target="_blank" alt="GitHub repo">
          <img class="card__linkLogo" src="/src/images/open_link_in_new_tab.svg" alt="open the link in new tab" />
        </a>
    </div>
  </div>
</div>
