<section class="mainContent__skills" id="skills">
  <h1 class="mainContent__title">SKILLS</h1>
  <!----- cards ----->
  <div class="mainContent__cards">
    <!--HTML-->
    <div class="mainContent__card">
      <div class="mainContent__cardLogo">
        <img src="/src/images/HTML5_logo.svg" alt="HTML logo" />
      </div>
      <article class="mainContent__cardText">
        <h1>HTML</h1>
        <p>Structure des données</p>
      </article>
    </div>
    <!--Sass-->
    <div class="mainContent__card">
      <div class="mainContent__cardLogo">
        <img src="/src/images/Sass_logo.svg" alt="Sass logo" />
      </div>
      <article class="mainContent__cardText">
        <h1>Sass</h1>
        <p>Style de la structure</p>
      </article>
    </div>
    <!--JS-->
    <div class="mainContent__card">
      <div class="mainContent__cardLogo">
        <img src="/src/images/JavaScript_logo.svg" alt="JS logo" />
      </div>
      <article class="mainContent__cardText">
        <h1>JavaScript</h1>
        <p>TypeScript en moins bien</p>
      </article>
    </div>
    <!--Vite.dev-->
    <div class="mainContent__card">
      <div class="mainContent__cardLogo">
        <img src="/src/images/vite_dev_logo.svg" alt="Vite.dev logo" />
      </div>
      <article class="mainContent__cardText">
        <h1>Vite.dev</h1>
        <p>Environnement de développement</p>
      </article>
    </div>
  </div>
</section>
