<section class="skills" id="skills">
  <h1 class="skills__title">Skills</h1>
  <!--____cards____-->
  <div class="skills__cards">
    <!--HTML-->
    <div class="skill__card">
      <div class="skill__logo">
        <img src="/src/images/HTML5_logo.svg" alt="HTML logo" />
      </div>
      <article class="skill__text">
        <h1>HTML</h1>
        <p>Structure des données</p>
      </article>
    </div>
    <!--Sass-->
    <div class="skill__card">
      <div class="skill__logo">
        <img src="/src/images/Sass_logo.svg" alt="Sass logo" />
      </div>
      <article class="skill__text">
        <h1>Sass</h1>
        <p>Style de la structure</p>
      </article>
    </div>
    <!--JS-->
    <div class="skill__card">
      <div class="skill__logo">
        <img src="/src/images/JavaScript_logo.svg" alt="JS logo" />
      </div>
      <article class="skill__text">
        <h1>JavaScript</h1>
        <p>TypeScript en moins bien</p>
      </article>
    </div>
    <!--Vite.dev-->
    <div class="skill__card">
      <div class="skill__logo">
        <img src="/src/images/vite_dev_logo.svg" alt="Vite.dev logo" />
      </div>
      <article class="skill__text">
        <h1>Vite.dev</h1>
        <p>Environnement de développement Front-End</p>
      </article>
    </div>
    <!--Node.JS-->
    <div class="skill__card">
      <div class="skill__logo">
        <img src="/src/images/nodejs_logo.svg" alt="Node.JS logo" />
      </div>
      <article class="skill__text">
        <h1>Node.JS</h1>
        <p>Développement & mise en production</p>
        <p>API</p>
      </article>
    </div>
    <!--MySQL-->
    <div class="skill__card">
      <div class="skill__logo">
        <img src="/src/images/MongoDB_logo.svg" alt="Node.JS logo" />
      </div>
      <article class="skill__text">
        <h1>MongoDB</h1>
        <p>Base de données</p>
      </article>
    </div>
  </div>
</section>
