$black: black;
$darkGray: #080808;
$lightGray: #212121;
$sunrise: #ffa700;
$darkSunrise: #ca8300;

body {
  font-family: "Raleway", sans-serif;
  background-color: $lightGray;
  width: 100%;
  height: 100dvh;
}
.mainHeader {
  display: flex;
  justify-content: center;
  &__nav {
    background: transparentize($darkGray, .5);
    width: fit-content;
    padding: 2rem;
    margin-block-start: 1rem;
    border-radius: 12px;
    position:fixed;
    ul {
      display: flex;
      justify-content: center;
      gap: 10px;
      li a {
        transition: ease .3s;
        text-decoration: none;
        color: $sunrise;
        background-color: $lightGray;
        padding-block:12px;
        padding-inline: 1rem;
        border-radius: 6px;
        cursor:pointer;
        border: 2px solid $darkGray;
        &:hover{
          color:$darkGray;
          background-color: $sunrise;
          border: 2px solid $sunrise;
        }
        &:active{
          background-color: $darkSunrise;
          border: 2px solid $darkGray;

        }
      }
      .activePage {
      }
    }
  }
}
