@use "./_normalize.scss";
@use "./_variable.scss";
@use "./_fonts.scss";
@use "./_functions.scss";
@use "./_nav.scss";
@use "./_mainContent.scss";

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--lightGray);
  width: 100%;
  height: 100dvh;
  user-select: none;
}