<nav class="nav">
  <input type="checkbox" id="trigger" class="nav__trigger">
  <label for="trigger" class="nav__logo">

    <span></span>
    <span></span>
    <span></span>

  </label>
  <ul class="nav__navMobile">
    <li><a href="#intro">Home</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projets">Projets</a></li>
    <li><a href="#about">À propos</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <ul class="nav__navDesktop hidden">
    <li><a href="#index" class="activePage">Home</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projets">Projets</a></li>
    <li><a href="#about">À propos</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
