<nav class="nav">
  <input type="checkbox" id="trigger" class="nav__trigger">
  <label for="trigger" class="nav__logo">X</label>
  <ul class="nav__navMobile">
    <li><a href="index.html" class="activePage">Home</a></li>
    <li><a href="technologies.html">Technologies</a></li>
    <li><a href="projects.html">Projects</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  <ul class="nav__navDesktop hidden">
    <li><a href="index.html" class="activePage">Home</a></li>
    <li><a href="technologies.html">Technologies</a></li>
    <li><a href="projects.html">Projects</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>
