.footer {
  display: flex;
  flex-direction: column;
  background: var(--sunrise);
  color: var(--black);
  font-weight: 300;
  padding: 1rem;

  gap: 1rem;
  &__contact {
    ul {
      display: flex;
      flex-direction: column;
      gap:.5rem;
    }
    h1 {
      padding-block-end: 1rem;
    }
    a {
      transition: ease var(--transitionTime);
      color: var(--black);
      font-weight: 600;
      padding-block:1rem;
      &:hover {
        font-weight: 900;
      }
    }
  }
  &__copyright {
    font-weight: 150;
  }
}
.copyBtn {
  position: relative;
  top: 5px;
  background: var(--gray);
  margin-inline-start: 0.2rem;
  cursor: pointer;

  img {
    padding: 0.2rem;
    border-radius: 0.3rem;
    width: 25px;

    &:hover {
      background-color: var(--lightGray);
    }
  }
}
